body{
    font-family:rosemary;
    font-size: 5em;
    background-color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dark{
    background-color: rgb(0, 0, 0);
    color: azure;
}
.navbar-brand{
    color: white;
}

#topDisplay{
    display: flex;
    justify-content: center;
    justify-items: center;
    background-image:url("./images/cool-background.png");
    height: 26rem;
    background-color: black;
    background-size:cover;
    background-blend-mode: normal;
}
#introPhoto{
    margin-top: -4em;
}
#introText{
    margin-top: 6em;
}
#mePhoto{
    width:45rem;
    height:30rem;
}

h1{
    letter-spacing: 0.1em;
    color: azure;
    font-size: 5em;
}
#aboutMe{
    display: flex;
    justify-content: space-around;
    height: 29em;
    color: azure;
    margin-top: 2rem;
}
.frame{
    border:1px solid #f8910a;
}
#aboutMePhoto{
    margin-top: 5em;
}
#aboutMePhoto img{
    width:500px;
    height:350px;
}
#aboutMeText h2, p{
    margin-top: 1rem;
}
#aboutMeText{
    line-height:1.7rem ;
    text-align:justify;
}
button a{
    text-decoration: none;
}
button a:hover{
    color: #f8910a;
}
a:visited{
    color: #eceaee;
}
.nav-item .nav-link{
    color: #f8910a;
}
#contact{
   background-color: rgba(0, 0, 0, 0.649);
   margin-top: 3rem;
}
#contact h2{
    text-align: center;
}
#form_n_social{
    display:flex;
    justify-content: center;
}

#contact-form{
    width: 35rem;
}
#socials{
    width: 35rem;
    margin: 2rem 5rem;
}
#socials div{
    margin-bottom: 1rem;
}
textarea{
    height: 6rem;
}

#message-body{
    background-color: rgba(255, 248, 248, 0.925);
}

footer{
    margin-top: 3em;
    opacity: 0.8;
}

footer:hover{
    color: white;
}
.cardSize{
    width: 25rem; 
    height: 28rem
}
.btn.proBtn{
   background-color: #435058;
   color: white;
}
.btn.gitBtn{
    background-color: #5FAD56;
    
}
#aboutMeText li{
    list-style: none;
    margin-left: -2rem;
}
#cvBtn {
    background-color: #84A7DF;
}
.fa-brands{
    color: white;
}
.btn-text{
    color: white;
}