body{
    font-family:rosemary;
    font-size: 20px;
    background-color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dark{
    background-color: rgb(0, 0, 0);
    color: azure;
}

#topDisplay{
    display: flex;
    justify-content: center;
    justify-items: center;
    background-image:url("./images/cool-background.png");
    height: 26rem;
    background-color: black;
    background-size:cover;
    background-blend-mode: normal;
}
#introPhoto{
    margin-top: -5em;
}
#introText{
    margin-top: 6em;
}
#mePhoto{
    width:45rem;
    height:30rem;
}

h1{
    letter-spacing: 0.1em;
    color: azure;
    font-size: 30px;
}
#aboutMe{
    display: flex;
    justify-content: space-around;
    height: 29em;
    color: azure;
    margin-top: 2rem;
}
.frame{
    border:1px solid #f8910a;
}
#aboutMePhoto{
    margin-top: 25px;
}
#aboutMeText{
    margin-top: 25px;
}

a:visited{
    color: #eceaee;
}
.nav-item .nav-link{
    color: #f8910a;
}
#contact{
   background-color: rgba(0, 0, 0, 0.649);
   margin-top: 3rem;
}
#contact h2{
    text-align: center;
}
#form_n_social{
    display:flex;
    justify-content: center;
}

#contact-form{
    width: 35rem;
}
#socials{
    width: 35rem;
    margin: 2rem 5rem;
}
#socials div{
    margin-bottom: 1rem;
}
textarea{
    height: 6rem;
}

#message-body{
    background-color: rgba(255, 248, 248, 0.925);
}


footer{
    margin-top: 3em;
    opacity: 0.8;
}

footer:hover{
    color: white;
}