body{
    font-family:rosemary;
    font-size: 20px;
    background-color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dark{
    background-color: rgb(0, 0, 0);
    color: azure;
}

#topDisplay{
    display: flex;
    justify-content: center;
    justify-items: center;
    background-image:url("./images/cool-background.png");
    height: 26rem;
    background-color: black;
    background-size:cover;
    background-blend-mode: normal;
}
#introPhoto{
    margin-top: -5em;
}
#introText{
    margin-top: 6em;
}
#mePhoto{
    width:45rem;
    height:30rem;
}

h1{
    letter-spacing: 0.1em;
    color: azure;
    font-size: 30px;
}
#aboutMe{
    display: flex;
    justify-content: space-around;
    height: 29em;
    color: azure;
    margin-top: 2rem;
}
.frame{
    border:1px solid #f8910a;
}
#aboutMePhoto{
    margin-top: 5em;
}
#aboutMeText h2, p{
    margin-top: 1rem;
}
button a{
    text-decoration: none;
}
button a:hover{
    color: #f8910a;
}
.navabar-brand, button a, a:visited{
    color: #eceaee;
}
.nav-item .nav-link{
    color: #f8910a;
}
#contact{
   background-color: rgba(0, 0, 0, 0.649);
   margin-top: 3rem;
}
#contact h2{
    text-align: center;
}
#form_n_social{
    display:flex;
    justify-content: center;
}

#contact-form{
    width: 35rem;
}
#socials{
    width: 35rem;
    margin: 2rem 5rem;
}
#socials div{
    margin-bottom: 1rem;
}
textarea{
    height: 6rem;
}

#message-body{
    background-color: rgba(255, 248, 248, 0.925);
}

footer{
    margin-top: 3em;
    opacity: 0.8;
}

footer:hover{
    color: white;
}
.cardSize{
    width: 25rem; 
    height: 28rem
}
.btn.proBtn{
   background-color: #435058;
}
.btn.gitBtn{
    background-color: #5FAD56;
}
#aboutMeText li{
    list-style: none;
    margin-left: -2rem;
}
#cvBtn {
    background-color: #84A7DF;
}
/**************Media Queries*************
 X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap
*****************************************************/

/* Small devices (landscape phones, 576px and up)*/
@media screen and (max-width: 575.98px) { 
    #topDisplay{
        max-width: fit-content;
    }
 }

/* Medium devices (tablets, 768px and up)*/
@media screen and (max-width: 767.98px) { 
    #topDisplay{
        max-width :fit-content;
    }
 }

/* Large devices (desktops, 992px and up)*/
@media (max-width: 991.98px) { 
    #topDisplay{
        width : 991.98px
    }
 }

/* X-Large devices (large desktops, 1200px and up)*/
@media (max-width: 1199.98px) { 
    #topDisplay{
        width : 1199.98px
    }
 }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (max-width: 1399.98px) { 
    #topDisplay{
        width : 1399.98px
    }
 }